#plain{
    background-color: white; 
    color: black;
}
#water-quality-1{
  background-color: black;    
}
#water-quality-2{
  background-color: #4CAF50;
}
#water-quality-3{
  background-color: #97F09A;
}
#water-quality-4{
  background-color: #FFFD6E;
}
#water-quality-5{
  background-color: #FA9292;
}
#water-quality-6{
  background-color: #DA2F2F;
}

#roles{
  background-color: black;
  color: white;
}

#container {
  display: flex;
  height: 100vh;
}

#map {
  flex: 1;
  height: 100vh;
  width: 70%; /* Adjust width as needed */
}

#info-panel {
  position: relative;
  width: 30%; /* Adjust width as needed */
  padding: 10px;
  background-color: #f7f7f7;
  padding: 10px;
  border-left: 2px solid #ddd;
}

#map-buttons button {
    margin: 5px 0;
    padding: 10px;
    width: 100%;
    border: none;
    background-color: #007acc;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#location-info {
  margin-top: 20px;
}

#location-info-container {
  position: absolute;
  top: 0; /* Align with top of info panel */
  right: 0; /* Position on the right */
  width: 100%; /* Match width of info panel */
  height: 100%; /* Match height of info panel */
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 1000; /* Ensure it overlays on top */
  display: none; /* Hidden initially */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

th {
  background-color: #4CAF50;
  color: white;
}
